In [1]:
import data_prep
import numpy as np
import pandas as pd

Using TensorFlow backend.

In [9]:
FILENAME = './data/amazon_book.csv'#"amazon_book.csv"
#PATH = "./data/"
#l2_df = pd.read_pickle(PATH+FILENAME)
#l2_df[:2]

#l2_df.to_csv('order_book_random.csv')
lf_df = pd.read_csv('./data/amazon_book.csv')
# TP - trade price TQ - trade Quantity
# BP - bid price, BQ - bid Quantity
# AP - ask price, AQ - ask Quantity

<img src="./features.png" width="80%">

In [10]:
len(lf_df)

234000

In [13]:
lf_df.tail()

,Unnamed: 0,BP1,BQ1,AP1,AQ1,BP2,BQ2,AP2,AQ2,BP3,...,BQ19,AP19,AQ19,BP20,BQ20,AP20,AQ20,timestamp,TP,TQ
233995,233995,3057000,100,3057100,863,3056400,100,3057200,400,3056200,...,160,3060000,50,3053800,100,3060100,300,57599600,3057050.0,963
233996,233996,3057000,100,3057100,863,3056400,100,3057200,400,3056200,...,500,3060000,50,3054000,160,3060100,300,57599700,3057050.0,963
233997,233997,3057000,100,3057100,863,3056400,100,3057200,400,3056200,...,500,3060000,50,3054000,160,3060100,300,57599800,3057050.0,963
233998,233998,3057000,100,3057100,863,3056400,100,3057200,400,3056200,...,500,3060000,50,3054000,160,3060100,300,57599900,3057050.0,963
233999,233999,3057000,100,3057100,863,3056400,100,3057200,400,3056300,...,400,3060000,50,3054100,500,3060100,300,57600000,3057050.0,963

In [14]:
# make features from dataset
# input shape (batch_size, window_size, n_features)
# ouput shape (batch_size, n_classes)

# if trade price[current+5] = trade price[current] ... 0
#    trade price[current+5] < trade price[current] ... 1
#    trade price[current+5] > trade price[current] ... 2
data = data_prep.get_test_data(window_size=10, predict_step=2, filename=FILENAME)

469984
469984
405283.0 records with = (same)
30176.0 records with < (plus profit)
34525.0 records with > (loss)
x shape: (469984, 10)
y shape: (469984, 3)

In [8]:
print(data.x.shape[1:])

(10, 40)

In [7]:
from nn import NeuralNetwork
from rnn import RNN

n_cross_validation = 3

# input_shape <- (timestep, n_features)
# output_shape <- n_classes
nn = NeuralNetwork(RNN(input_shape=data.x.shape[1:], output_dim=data.y.shape[1]), class_weight= {0:1., 1:1., 2:1.})

print("TRAIN")
nn.train(data)

print("TEST")
nn.test(data)

#print("TRAIN WITH CROSS-VALIDATION")
#nn.run_with_cross_validation(data, n_cross_validation)

Build model...
Compile model.   ..
TRAIN
Train...
before fit
WARNING:tensorflow:From C:\Users\rohit\Anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Train on 1485 samples, validate on 496 samples
Epoch 1/2
1485/1485 [==============================] - 2s 1ms/step - loss: 0.9955 - acc: 0.5185 - val_loss: 0.7261 - val_acc: 0.7823

Epoch 00001: val_acc improved from -inf to 0.78226, saving model to ./model/improvement-01-0.78.hdf5
Epoch 2/2
1485/1485 [==============================] - 0s 109us/step - loss: 0.5644 - acc: 0.8512 - val_loss: 0.7436 - val_acc: 0.7823

Epoch 00002: val_acc did not improve from 0.78226
EACH : class 0: 1.0, class 1: 0.0, class 2: 0.0
PREDICTED: class 0: 1652, class 1: 0, class 2: 0
ACTUAL: class 0: 1652, class 1: 131, class 2: 198
ERROR RATE:  0.16607773851590105
TEST
EACH : class 0: 1.0, class 1: 0.0, class 2: 0.0
PREDICTED: class 0: 1652, class 1: 0, class 2: 0
ACTUAL: class 0: 1652, class 1: 131, class 2: 198
ERROR RATE:  0.16607773851590105

0.16607773851590105